.container-cards {
  padding: 50px;
}

.new-car-link {
  display: inline-block;
  background-color: #61aba6;
  color: #e9dfdf;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  text-align: center;
  cursor: pointer;
}

