<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://starrluxurycars.com/wp-content/uploads/2020/05/58348989-slc-porsche-911-banner-1920x650-1.jpg);">
  <div class="container-home">
    <h1> Welcome to<strong>TAQ</strong> Car Rental</h1>
    <p>Find your best car with TAQ car rental! We have good offers! You are just one click away</p>
    <p><%= link_to "See all Cars", cars_path, class: "button-home" %> </p>
  </div>
</div>
