<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p><%= link_to "See all Cars", cars_path %></p>
<p>To use later on</p>
<p><%= user_signed_in? %></p>
<%= current_user.email if user_signed_in?%>
