.banner-show {
  padding: 200px;
  background-size: cover;
}

.banner-home {
  background-size: 80%;
  padding: 400px;
  color: white;
}

.banner-bookings {
  background-size: 80%;
  padding: 100px;
  color: aliceblue;
}
